<app-menu-bar></app-menu-bar>
<app-big-card></app-big-card>

<div class="Noticias">
<app-small-card photo="https://media.indiedb.com/images/members/4/3333/3332172/profile/maxresdefault.jpg"></app-small-card>
<app-small-card photo="https://media.indiedb.com/images/members/4/3333/3332172/profile/maxresdefault.jpg"></app-small-card>
<app-small-card photo="https://media.indiedb.com/images/members/4/3333/3332172/profile/maxresdefault.jpg"></app-small-card>
<app-small-card photo="https://media.indiedb.com/images/members/4/3333/3332172/profile/maxresdefault.jpg"></app-small-card>
<app-small-card photo="https://media.indiedb.com/images/members/4/3333/3332172/profile/maxresdefault.jpg"></app-small-card>
</div>
<router-outlet></router-outlet>
